
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #d6d6d6;
    font-family: "Archivo Black", sans-serif;
}

header{
    width: 100%;
    display: flex;
    padding: 2% 4% 2%;
    align-items: center;
    justify-content: space-between;
}

button{
    font-family: "Archivo Black", sans-serif;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 20px;
}

a{
    color: inherit; 
    text-decoration: none;
}


.notaMus{
    background-color: white;
    padding: 1%;
    border-radius: 5px;
}

header nav ul{
    display: flex;
    gap:15px;
    list-style-type: none;
    color: gray;
}
.principal{
    background-color: white;
    width: 95%;
    padding: 3%;
    border-radius: 7px;
    margin: 0.5% 4% 0.5% 4%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-self: center;
    align-items: stretch;
    font-family: "Google Sans", sans-serif;
}
.capaalbum{
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botao {
    padding: 10px;
    background-color: #d6d6d6;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.2s;
}
.botao:hover {
    background-color: #eeeeee;}
.botao:active {
    background-color: #8f8f8f;
}

.icone{
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
    fill: gray;
}
.botaocima {
    margin-bottom: 20px;
}
.principal p {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.botaoAdd {
    padding: 10px;
    background-color: #4495ff;
    border-radius: 9px;
    cursor: pointer;
    transition: 0.2s;
    color: white;
    font-family: "Archivo Black", sans-serif;
    margin-bottom: 20px;
}
.botaoAdd:hover {
    background-color: #b3d4ff;}
.botaoAdd:active {
    background-color: #094ea8;
}

.principal div h1 {
    text-align: center;
    margin-bottom: 40px;
}
.topo {
    width: 100%;
    display: block;    
    text-align: center; 
    margin-bottom: 40px;
}

.topo .botaoAdd {
    display: block;     
    margin-left: 0;     
    margin-right: auto; 
    margin-bottom: 20px; 
}